name: ML Pipeline CI

# Trigger workflow setiap kali ada push ke branch main
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout repository (mengambil kode dari GitHub)
    - uses: actions/checkout@v3

    # 2. Install Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install Dependencies dari requirements.txt
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Cek Struktur Folder (Opsional, untuk debugging)
    - name: List Files
      run: ls -R

    # 5. Jalankan Preprocessing
    # Ini akan membaca data/raw/heart.csv dan menghasilkan data/processed/heart_processed.csv
    - name: Run Preprocessing Script
      run: python preprocessing/automate_HajatulHiqmah.py

    # 6. Jalankan Basic Modelling
    # Ini akan melatih model dan menyimpannya di folder mlruns lokal di dalam runner CI
    - name: Run Basic Modelling
      run: python src/modelling.py

    # 7. Jalankan Hyperparameter Tuning
    - name: Run Hyperparameter Tuning
      run: python src/modelling_tuning.py